/* ---------- ATTRIBUTE TABLE ---------- */
/* attribute table buttons */
.jimu-widget-attributetable .dijitToolbar .dijitButton .dijitButtonNode,
.jimu-widget-attributetable .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.jimu-widget-attributetable .dijitToolbar .dijitComboButton .dijitButtonNode,
.jimu-widget-attributetable .dijitToolbar .dijitToggleButton .dijitButtonNode,
.jimu-widget-attributetable .dijitToolbar .dijitComboBox .dijitButtonNode {
  padding: 2px;
  line-height: normal;
  border-radius: 0;
}

.jimu-widget-attributetable td.dijitMenuItemIconCell {
  line-height: 1em;
  text-align: center;
}

/* make disabled buttons more transparent */
.jimu-widget-attributetable .dijitButtonDisabled .dijitButtonNode,
.jimu-widget-attributetable .dijitDropDownButtonDisabled .dijitButtonNode,
.jimu-widget-attributetable .dijitComboButtonDisabled .dijitButtonNode,
.jimu-widget-attributetable .dijitToggleButtonDisabled .dijitButtonNode {
  opacity: 0.5;
}

/* make toggle button's checked state less claro-y
(the "filter by map extent" button) */
.dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
  box-shadow: none;
  border-width: 3px;
  padding: 0;
}

.jimu-widget-attributetable .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode .dijitButtonText {
  font-weight: normal;
}

/* attribute table dropup menu -- there's no way to target
just attribute table's dropdown menu, so this might cause conflicts elsewhere */
.dijitMenuPopup .dijitMenuItem,
.dijitMenuPopup .dijitMenuItem td {
  padding: 4px;
}

/* get rid of funny spacing around attribute table close button */
.jimu-widget-attributetable .esriAttributeTableCloseImage ~ .dijitButtonText {
  padding: 0;
}
