/* get rid of border radius */
.jimu-widget-onscreen-icon,
.jimu-widget-homebutton,
.HomeButton .home,
.jimu-widget-mylocation,
.jimu-widget-zoomslider,
.jimu-widget-coordinate .coordinate-background,
.arcgisSearch .searchGroup .searchInput,
.arcgisSearch .searchBtn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* override hardcodes so panel colors can show through */
.jimu-widget-layerList .layer-row {
  background-color: transparent;
}

.jimu-widget-basemapgallery .esriBasemapGalleryNode {
  cursor: pointer;
}
