.jimu-simple-panel,
.jimu-panel {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

// change resize cursor to two-directional
body .dojoxResizeNW {
  cursor: nwse-resize;
}

/* override hardcodes in widgets */
.dijitContentPane {
  background-color: transparent;
}
