body {
  color: $brand-darker;
  background: $brand-lighter;
}

a {
  color: $brand-primary;
}

.jimu-main-background {
  background-color: $brand-primary;
}

.dijitTooltipDialog .dijitTooltipContainer {
  color: $brand-darker;
  background: $brand-lighter;
}

#map {
  /* wab gives the map div an #eee background inline :( */
  background: $brand-lighter !important;
}

.esriViewPopup .hzLine {
  border-color: $brand-warning;
}
