/* make text in all widgets match theme's dark color */
.jimu-widget {
  color: $brand-darker;
}

.jimu-title,
.jimu-subtitle,
.jimu-widget-zoomslider {
  color: $brand-lighter;
}

.jimu-dropmenu .menu-item:hover {
  color: $brand-info;
}

.jimu-dropmenu .menu-item-dissable:hover {
  color: #c1c1c1;
}

/* ---------- on-screen icons and search ---------- */
.jimu-widget-search .arcgisSearch .searchBtn:hover,
.jimu-widget-search .arcgisSearch .searchBtn:focus {
  background-color: $brand-darker;
}

.arcgisSearch .searchGroup .searchInput,
.arcgisSearch .searchBtn {
  border-color: $brand-darker;
  color: $brand-darker;
}

.jimu-widget-onscreen-icon,
.jimu-widget-homebutton,
.jimu-widget-mylocation,
.jimu-widget-zoomslider,
.jimu-widget-coordinate .coordinate-background {
  background-color: $brand-darker;
  background-color: rgba($brand-darker, 0.5);
}

.jimu-widget-onscreen-icon {
  border: 1px solid $brand-darker;
}

.jimu-widget-onscreen-icon:hover,
.jimu-widget-homebutton:hover,
.jimu-widget-mylocation:hover,
.jimu-widget-zoomslider .zoom:hover {
  background-color: $brand-darker;
  background-color: rgba($brand-darker, 0.8);
}
