.jimu-preload-widget-icon-panel > .jimu-panel-title,
.jimu-on-screen-widget-panel > .jimu-panel-title,
.jimu-foldable-panel > .jimu-panel-title,
.jimu-title-panel > .title {
  background-color: $brand-primary;
}

.jimu-widget-frame.jimu-container {
  color: $brand-primary;
  background: $brand-lightest;
}
