$darker: rgb(63, 70, 84);
$palest: rgb(244, 249, 251);
$slightly-less-pale: rgb(237, 246, 250);
$less-pale: rgb(230, 244, 250);
$bright: rgb(143, 195, 210);
$bright-darker1: rgb(122, 166, 178);
$bright-darker2: rgb(96, 130, 140);

$accent: rgb(234, 46, 73);
