$darker: rgb(63, 84, 63);
$palest: rgb(244, 251, 244);
$slightly-less-pale: rgb(237, 250, 237);
$less-pale: rgb(230, 250, 230);
$bright: rgb(143, 204, 143);
$bright-darker1: rgb(122, 178, 122);
$bright-darker2: rgb(96, 140, 96);

$accent: rgb(133, 17, 75);
